.wp-pagenavi a {
	padding: 2px 4px 2px 4px;
	margin: 2px;
}
.wp-pagenavi a:visited {
	padding: 2px 4px 2px 4px;
	margin: 2px;
}
.wp-pagenavi a:active {
	padding: 2px 4px 2px 4px;
	margin: 2px;
}
.wp-pagenavi span.pages {
	padding: 2px 4px 2px 4px;
	margin: 2px 2px 2px 2px;
	font-weight: bold;
}
.wp-pagenavi span.current {
	padding: 2px 4px 2px 4px;
	margin: 2px;
	font-weight: bold;
}
.wp-pagenavi span.extend {
	padding: 2px 4px 2px 4px;
	margin: 2px;	
}