#top-bar {
	background:url("images/sprite_h_light.png") repeat-x scroll left -196px #eee;
}
#nav {
	background:url("images/sprite_h_light.png") repeat-x scroll left top #eee;
}
#menu li a, #menu li a:visited{
	color:#000;
}
#menu li:hover a, #menu li:hover a:visited, #menu li.current_page_item a, #menu li.current_page_ancestor a, #menu li.current_page_parent a, #menu li.current_page_item a:visited, #menu li.current_page_ancestor a:visited, #menu li.current_page_parent a:visited{
	color:#DFEDFF;
	background:#000;
}
#menu li:hover, #menu li.sfhover, #menu li.current_page_item, #menu li.current_page_ancestor, #menu li.current_page_parent{
	background:url("images/sprite_h_light.png") repeat-x scroll left -66px #000;
}
#menu li:hover li a, #menu li:hover li a:visited{
	color:#000;
	background:#fff;
	}
#menu li.current_page_item > a, #menu li.current_page_ancestor > a, #menu li.current_page_parent > a, #menu li.current_page_item > a:visited, #menu li.current_page_ancestor > a:visited, #menu li.current_page_parent > a:visited{
	color:#DFEDFF !important;
	background:#000 !important;
}
#menu li.current_page_item a li a, a#menu li.current_page_ancestor a li a, a#menu li.current_page_parent a li a, a#menu li.current_page_item a li a:visited, #menu li.current_page_ancestor a li a:visited, #menu li.current_page_parent a li a:visited{
	color:#000 !important;
	background:#fff !important;
}
#rss a {
	background:url("images/sprite_master_light.png") no-repeat scroll left top transparent;
}
#top_search button {
	background:url("images/sprite_master_light.png") no-repeat scroll -38px top transparent;
}