/* Internal Members.css
_________________________*/

div#content div.main div.single div.pagination{
	margin:0 -6px;
}

/* Profile */
body.profile #content div.main div.profile ul.profileFields{
	list-style:none;
}
body.profile #content div.main div.profile ul.profileFields li{
	border-top:1px solid #f0f0f0;
	display:block;
	padding:10px 0;
}
body.profile #content div.main div.profile ul.profileFields li:first-child{
	border:none;
}
body.profile #content div.main div.profile ul.profileFields li div.label{
	display:inline;
	float:left;
	margin-right:5px;
}
body.profile #content div.main div.profile ul.profileFields li a{
	color:#333;
}

/* Edit profile */
body.profile #content div.main div.profile ul.button-nav{
	margin:10px 0;
}
body.profile #content div.main div.profile ul.button-nav li{
	display:inline;
	float:left;
	margin-right:10px;
	margin-bottom:15px;
}
body.profile #content div.main div.profile ul.button-nav li a{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#03374F;
	color:#fff;
	float:left;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
}
body.profile #content div.main div.profile ul.button-nav li a:hover
, body.profile #content div.main div.profile ul.button-nav li.current a{
	background:#0076A4;
}
body.profile #content div.main div.profile form label
, body.settings #content div.main form label{
	margin:0;
}
body.profile #content div.main div.profile form .inputDefault
, body.settings #content div.main form input.settings-input{
	margin:10px 0 15px;
    float:none;
	width:200px;
}
body.profile #content div.main div.profile form textarea{
	margin:10px 0 15px;
}
body.profile div.radio{
	margin-bottom:15px;
}
body.profile #content div.main div.profile form select
, body.settings #content div.main form select{
	color:#333;
	font-size:12px;
	margin:5px 0 15px;
	padding:2px 2px 3px;
	width:90px !important;
}
body.profile #content div.main div.profile form .submitDefault
, body.settings #content div.main form #submit{
    float:none;
    margin:15px 0;
}
body.profile #content div.main div.profile h4{
	margin:10px 0;
}
body.profile #content div.main div.profile p#avatar-upload{
	margin:10px 0 5px;
}
body.profile #content div.main div.profile form .submitDefault{
	float:none;
	margin:0;
}
body.profile #content div.main div.profile p .edit{
	display:block;
	margin-top:10px;
}


body.settings #content div.main div#subnav{
	margin-bottom:15px !important;
}
body.settings #content form table.notification-settings{
    border-collapse:collapse;
    margin:15px 0 0;
    width:100%;
}
body.settings #content form table.notification-settings th
, body.settings #content form table.notification-settings td{
	text-align:left;
	padding:5px 0;
}
body.settings #content form table.notification-settings th.yes
, body.settings #content form table.notification-settings td.yes
, body.settings #content form table.notification-settings th.no
, body.settings #content form table.notification-settings td.no{
	text-align:center;
}
body.settings #content form table.notification-settings th.icon{
    width:0;
}
body.settings #content form table.notification-settings th.title{
    width:80%;
}

body.settings #content form#account-delete-form div#message
, form#group-settings-form div#message{
	font-size:11px;
	margin:10px 0;
}
body.settings #content form#account-delete-form div#message p
, form#group-settings-form div#message p{
	margin:0;
}

/* Messages */
table#message-threads{
	border-collapse:collapse;
	border-spacing:0;
	margin:10px -6px 0;
	width:auto;
}
table#message-threads a{
	color:#0076A4;
}
table#message-threads tr.unread a{
	font-weight:bold;
}
table#message-threads td{
	padding:8px;
	vertical-align:middle;
}
div.messages-options-nav{
	background:#eee;
	font-size:11px;
	margin:0 -6px;
	padding:5px 10px;
	text-align:right;
}
.messages span.activity{
	display:block;
	margin-top:5px;
}
.messages p.thread-excerpt{
	color:#888;
	font-size:11px;
	margin-top:3px;
}
.messages .confirm{
	background:url('../img/bt/bt_trash.jpg') no-repeat;
	display:inline-block;
	height:10px;
	margin-left:10px;
	text-indent:-999em;
	width:10px;
}
.messages form#send_message_form .inputDefault{
	float:none;
}
.messages form#send_message_form div.inputDefault{
	display:block;
	float:none;
	height:auto;
	width:auto;
}
.messages form#send_message_form div.inputDefault input
, .messages form#send_message_form div.inputDefault textarea{
	border:none;
	width:100%;
}
.messages form#send_message_form div.submit input{
	float:none;
	margin:0;
	margin-top:10px;
}
.messages div#message-thread h3#message-subject{
	margin:10px 0;
}
.messages div#message-thread p#message-recipients
, .messages div#message-thread div.message-metadata{
	margin-bottom:10px;
}
.messages div#message-thread div.message-metadata img.avatar{
	border:1px solid #ccc;
	display:inline;
	float:left;
	margin-right:5px;
	padding:2px;
}
.messages div#message-thread div.message-metadata span.activity{
	display:inline;
	font-weight:normal;
}
.messages div#message-thread div.message-content{
	color:#000;
	margin-bottom:10px;
}
.messages div#message-thread div.inputDefault{
	display:block;
	float:none;
	height:auto;
	margin:0;
	width:auto;
}
.messages div#message-thread div.inputDefault textarea{
	border-color:transparent;
	width:100%;
}
.messages div#message-thread div.alt{
	background:0;
}
.messages div#message-thread .submitDefault{
	margin:0;
	float:right;
	margin-top:10px;
}