@media only screen and ( max-width: 720px ) {
	/*************************************************************************************************
		classes
	*************************************************************************************************/
	.hide_mobile {
		display: none;
	}

	/***************************************************************************************************
		head
	***************************************************************************************************/
	#head {
	}

	/***************************************************************************************************
		body
	***************************************************************************************************/
	#body {
	}

	/***************************************************************************************************
		section: slideshow
	***************************************************************************************************/
	#content-full .section_slideshow {
	}

	#content-full .section_slideshow .post {
		width: 340px;
		height: 110px;
	}

	#content-full .section_slideshow .post_title {
		font-size: 1.6em;
		bottom: 10px;
		left: 10px;
	}

	/***************************************************************************************************
		footer
	***************************************************************************************************/
	#footer {
	}

	/***************************************************************************************************
		institutional
	***************************************************************************************************/
	#institutional {
	}

	#institutional ul,
	#institutional ol {
		text-align: center;
	}

	#institutional li {
	}

	/***************************************************************************************************
		copyright
	***************************************************************************************************/
	#copyright {
	}

	#copyright p {
		text-align: center;
	}
}