* {
	margin: 0px;
	padding: 0px;
}

body {
	background: rgb( 245, 245, 245 );
	font: normal 75% Helvetica;
}

a {
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

h1 {
	font-size: 2.0em;
	font-weight: normal;
	word-wrap: break-word;
}

h2 {
	font-size: 1.8em;
	font-weight: normal;
	word-wrap: break-word;
}

h3 {
	font-size: 1.6em;
	font-weight: normal;
	word-wrap: break-word;
}

h4 {
	font-size: 1.4em;
	font-weight: normal;
	word-wrap: break-word;
}

h5 {
	font-size: 1.2em;
	font-weight: normal;
	word-wrap: break-word;
}

h6 {
	font-size: 1.0em;
	font-weight: normal;
	word-wrap: break-word;
}

fieldset {
	padding: 0px 10px 0px 10px;
	border: 1px solid rgba( 123, 123, 123, 0.5 );
	border-radius: 5px;
}

legend {
	font-size: 1.4em;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
select,
textarea {
	font: normal 1.0em Helvetica;
	margin: 5px 0px 10px 0px;
	padding: 5px 5px 5px 5px;
	color: rgb( 0, 0, 0 );
	background: rgb( 255, 255, 255 );
	border: 1px solid rgba( 123, 123, 123, 0.3 );
	border-radius: 5px;
}

input[type=reset],
input[type=submit],
button {
	font: normal 1.0em Helvetica;
	margin: 5px 0px 10px 0px;
	padding: 5px 15px 5px 15px;
	color: rgb( 0, 0, 0 );
	text-shadow: 1px 1px 1px rgb( 255, 255, 255 );
	background: rgb( 235, 235, 235 );
	border: 1px solid rgba( 123, 123, 123, 0.3 );
	border-radius: 5px;
	cursor: pointer;
}

input[type=reset]:hover,
input[type=reset]:focus,
input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus {
	background: rgb( 245, 245, 245 );
}

input[type=reset]:active,
input[type=submit]:active,
button:active {
	background: rgb( 225, 225, 225 );
}

/***************************************************************************************************
	classes
***************************************************************************************************/
.hide {
	display: none;
}

.clear {
	clear: both;
	display: block;
	visibility: hidden;
	line-height: 0px;
	height: 0px;
}

/***************************************************************************************************
	WP classes
***************************************************************************************************/
.more-link {
}

.alignleft {
	float: left;
	margin: 0px 5px 5px 0px;
}

.alignright {
	float: right;
	margin: 0px 0px 5px 5px;
}

.aligncenter {
	margin: auto;
	display: block;
}

.wp-post-image {
	float: left;
	margin: 0px 5px 5px 0px;
}

.sticky {
}

.wp-caption {
}

.wp-caption-text {
}

.gallery-caption {
}

.comment-wait {
}

.bypostauthor {
}

/***************************************************************************************************
	WP entry
***************************************************************************************************/
.entry {
}

.entry h1 {
	padding: 10px 0px 5px 0px;
}

.entry h2 {
	padding: 10px 0px 5px 0px;
}

.entry h3 {
	padding: 10px 0px 5px 0px;
}

.entry h4 {
	padding: 10px 0px 5px 0px;
}

.entry h5 {
	padding: 10px 0px 5px 0px;
}

.entry h6 {
	padding: 10px 0px 5px 0px;
}

.entry a {
	text-decoration: none;
}

.entry a:hover,
.entry a:focus,
.entry a:active {
	text-decoration: underline;
}

.entry p {
	line-height: 1.8em;
	padding: 10px 0px 10px 0px;
}

.entry ul {
	list-style-type: square;
	padding: 10px 10px 10px 40px;
}

.entry ol {
	list-style-type: decimal;
	padding: 10px 10px 10px 40px;
}

.entry li {
	line-height: 1.8em;
}

.entry strong {
}

.entry em {
}

.entry del {
}

.entry img {
	max-width: 100%;
}

.entry iframe {
	max-width: 100%;
}

.entry object {
	max-width: 100%;
}

.entry pre {
	display: block;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	overflow: auto;
}

.entry code {
	display: block;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	overflow: auto;
}

.entry blockquote {
	display: block;
	padding: 10px 10px 10px 40px;
	font-style: italic;
	background: url( ../img/bg/quote-open.png ) no-repeat top left;
}

.entry table {
	margin: 10px 0px 10px 0px;
	border-top: 1px solid rgba( 123, 123, 123, 0.5 );
	border-bottom: 1px solid rgba( 123, 123, 123, 0.5 );
}

.entry tr {
}

.entry th {
	padding: 5px 10px 5px 10px;
	border-bottom: 1px solid rgba( 123, 123, 123, 0.5 );
}

.entry td {
	padding: 5px 10px 5px 10px;
}

/***************************************************************************************************
	head
***************************************************************************************************/
#head {
	height: 200px;
}

#head a {
	text-decoration: none;
}

/***************************************************************************************************
	brand
***************************************************************************************************/
#brand {
}

#brand h1 {
	text-shadow: 1px 1px 1px rgb( 255, 255, 255 );
	font-size: 3.0em;
	font-weight: bold;
	padding: 80px 0px 10px 0px;
}

#brand h2 {
	text-shadow: 1px 1px 1px rgb( 255, 255, 255 );
	font-size: 1.2em;
	font-weight: normal;
	padding: 0px 0px 0px 0px;
}

/***************************************************************************************************
	body
***************************************************************************************************/
#body {
	background: rgb( 255, 255, 255 );
	box-shadow: 0px 3px 9px rgba( 123, 123, 123, 0.5 );
}

#body .border_top {
	border-top: 1px solid rgba( 123, 123, 123, 0.3 );
}

#body .border_bottom {
	border-bottom: 1px solid rgba( 123, 123, 123, 0.3 );
}

/***************************************************************************************************
	navigator
***************************************************************************************************/
#navigator {
}

#navigator a {
	text-decoration: none;
}

#navigator a:hover,
#navigator a:focus,
#navigator a:active {
}

#navigator .menu {
	float: left;
}

#navigator ul {
}

#navigator li {
	position: relative;
	display: inline-block;
}

#navigator li a {
	display: inline-block;
	padding: 10px 20px 10px 0px;
}

#navigator .search {
	float: right;
}

#navigator .search input {
	text-align: right;
	padding: 5px 5px 5px 5px;
	border: none;
}

#navigator .search button {
	width: 26px;
	height: 26px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 1.4em;
	border: none;
	background: none;
}

#navigator li ul {
	position: absolute;
	display: none;
	background: rgb( 255, 255, 255 );
	border: 5px solid rgba( 123, 123, 123, 0.3 );
	z-index: 10;
}

#navigator li:focus ul,
#navigator li:hover ul,
#navigator li:active ul {
	display: block;
}

#navigator li li {
	width: 200px;
	display: block;
}

#navigator li li a {
	padding: 7px 7px 7px 7px;
}

/***************************************************************************************************
	breadcrumb
***************************************************************************************************/
#breadcrumb {
}

#breadcrumb p {
}

/***************************************************************************************************
	content
***************************************************************************************************/
#content {
}

#content a {
	text-decoration: none;
}

#content a:focus,
#content a:hover,
#content a:active {
	text-decoration: underline;
}

#content .section {
	padding: 0px 0px 10px 0px;
}

#content .section .head {
  padding: 10px 0px 10px 0px;
}

#content .section .head h1 {
  font-size: 2.4em;
	line-height: 1.4em;
  font-weight: normal;
  text-transform: uppercase;
}

#content .section .body {
  padding: 10px 0px 10px 0px;
}

#content .section .foot {
  padding: 10px 0px 10px 0px;
}

/***************************************************************************************************
	section: index
***************************************************************************************************/
#content .section_index {
}

#content .section_index .head {
}

#content .section_index .body {
}

#content .section_index .post {
	clear: both;
	display: block;
  list-style: none;
  padding: 0px 0px 40px 0px;
}

#content .section_index .post_thumb {
	float: left;
	padding: 20px 20px 0px 0px;
}

#content .section_index .post_title {
	font-size: 2.4em;
  font-weight: normal;
  padding: 5px 0px 5px 0px;
}

#content .section_index .post_meta {
	font-style: italic;
	padding: 7px 0px 7px 0px;
}

#content .section_index .post_meta .fa {
	float: left;
	width: 26px;
	height: 26px;
	display: block;
	font-size: 1.4em;
	font-style: normal;
}

#content .section_index .post_entry {
	font-size: 1.2em;
	padding: 10px 0px 10px 0px;
}

#content .section_index .post_entry p {
  line-height: 1.8em;
}

#content .section_index .foot {
}

#content .section_index .pagination {
	text-align: center;
	display: block;
}

#content .section_index .pagination a {
	text-decoration: none;
	padding: 0px 10px 0px 10px;
}

#content .section_index .pagination a:focus,
#content .section_index .pagination a:hover,
#content .section_index .pagination a:active {
	text-decoration: underline;
}

#content .section_index .pagination span {
	padding: 0px 10px 0px 10px;
}

/***************************************************************************************************
	section: single
***************************************************************************************************/
#content .section_single {
}

#content .section_single .head {
}

#content .section_single .body {
}

#content .section_single .post {
  list-style: none;
  padding: 0px 0px 40px 0px;
}

#content .section_single .post_meta {
	font-style: italic;
	padding: 7px 0px 7px 0px;
}

#content .section_single .post_meta .fa {
	float: left;
	width: 26px;
	height: 26px;
	display: block;
	font-size: 1.4em;
	font-style: normal;
}

#content .section_single .post_entry {
	font-size: 1.2em;
	padding: 10px 0px 10px 0px;
}

#content .section_single .post_entry p {
  line-height: 1.8em;
}

#content .section_single .foot {
}

/***************************************************************************************************
	section: comments
***************************************************************************************************/
#content .section_comments {
}

#content .section_comments form {
	padding: 10px 0px 10px 0px;
}

#content .section_comments label {
	width: 80px;
	display: inline-block;
}

#content .section_comments textarea {
	width: 100%;
	box-sizing: border-box;
}

#content .section_comments .avatar {
	float: left;
	padding: 0px 10px 0px 0px;
}

#content .section_comments .comment-reply-link {
	float: right;
	width: 26px;
	height: 26px;
	display: block;
	font-size: 1.4em;
}

#content .section_comments #cancel-comment-reply-link {
	font-size: 1.0em;
	text-transform: lowercase;
}

#content .section_comments .comment-notes {
	padding: 10px 0px 10px 0px;
}

#content .section_comments .logged-in-as {
	padding: 10px 0px 10px 0px;
}

#content .section_comments .comment {
  list-style: none;
  padding: 20px 0px 20px 0px;
}

#content .section_comments .comment_author {
	font-size: 1.2em;
}

#content .section_comments .comment_date {
	font-size: 0.9em;
	font-style: italic;
}

#content .section_comments .comment_entry {
}

#content .section_comments .comment_entry p {
  line-height: 1.8em;
}

#content .section_comments .children {
  list-style: none;
  padding: 0px 0px 0px 40px;
}

#content .section_comments .comments #respond {
	padding: 0px 0px 0px 40px;
}

#content .section_comments .pagination {
	text-align: center;
	display: block;
}

#content .section_comments .pagination a {
	text-decoration: none;
	padding: 0px 10px 0px 10px;
}

#content .section_comments .pagination a:focus,
#content .section_comments .pagination a:hover,
#content .section_comments .pagination a:active {
	text-decoration: underline;
}

#content .section_comments .pagination span {
	padding: 0px 10px 0px 10px;
}

/***************************************************************************************************
	content-full
***************************************************************************************************/
#content-full {
}

#content-full a {
	text-decoration: none;
}

#content-full a:focus,
#content-full a:hover,
#content-full a:active {
	text-decoration: underline;
}

#content-full .section {
	padding: 0px 0px 10px 0px;
}

#content-full .section .head {
  padding: 10px 0px 10px 0px;
}

#content-full .section .head h1 {
  font-size: 2.4em;
	line-height: 1.4em;
  font-weight: normal;
  text-transform: uppercase;
}

#content-full .section .body {
  padding: 10px 0px 10px 0px;
}

#content-full .section .foot {
  padding: 10px 0px 10px 0px;
}

/***************************************************************************************************
	section: slideshow
***************************************************************************************************/
#content-full .section_slideshow {
}

#content-full .section_slideshow .post {
	width: 940px;
	height: 300px;
	display: block;
	list-style: none;
	position: relative;
}

#content-full .section_slideshow .post_thumb {
	width: 100%;
	height: auto;
}

#content-full .section_slideshow .post_title {
	bottom: 40px;
	left: 20px;
	position: absolute;
	font-size: 2.0em;
	color: rgb( 255, 255, 255 ) !important;
	text-shadow: 0px 0px 1px rgb( 0, 0, 0 );
}

#content-full .section_slideshow .post_title a {
	color: rgb( 255, 255, 255 ) !important;
}

#content-full .section_slideshow .post_entry {
	bottom: 20px;
	left: 20px;
	position: absolute;
	color: rgb( 255, 255, 255 ) !important;
	text-shadow: 0px 0px 0px rgb( 0, 0, 0 );
	line-height: 1.8em;
}

#content-full .section_slideshow .foot {
	padding: 0px 0px 10px 0px;
}

#content-full .section_slideshow .navigation {
	float: right;
}

#content-full .section_slideshow .navigation ul,
#content-full .section_slideshow .navigation ol {
}

#content-full .section_slideshow .navigation li {
	float: left;
	display: block;
}

#content-full .section_slideshow .navigation li a {
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	text-indent: -9999px;
	cursor: pointer;
	box-shadow: 0px 0px 3px rgb( 0, 0, 0 );
	border-radius: 10px;
	margin: 0px 0px 0px 10px;
	background: rgb( 255, 255, 255 );
}

#content-full .section_slideshow .navigation li a.flex-active {
	background: rgb( 235, 235, 235 );
}

/***************************************************************************************************
	content-split
***************************************************************************************************/
#content-split {
}

#content-split .section {
	margin: 0px 0px 20px 0px;
}

#content-split .section .head h1 {
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid rgba( 123, 123, 123, 0.7 );
}

#content-split .section a {
	text-decoration: none;
}

#content-split .section a:focus,
#content-split .section a:hover,
#content-split .section a:active {
	text-decoration: underline;
}

#content-split .section p {
	line-height: 1.8em;
	padding: 5px 0px 5px 0px;
}

#content-split .section ol,
#content-split .section ul {
}

#content-split .section li {
	margin: 0px 0px 0px 20px;
	padding: 5px 0px 5px 0px;
}

/***************************************************************************************************
	widget: custom_loop
***************************************************************************************************/
#content-split .widget_custom_loop {
}

#content-split .widget_custom_loop .posts {
}

#content-split .widget_custom_loop .post {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
}

#content-split .widget_custom_loop .post_title {
	font-size: 1.4em;
	font-weight: normal;
}

#content-split .widget_custom_loop .post_entry {
}

#content-split .widget_custom_loop .post_entry p {
	line-height: 1.8em;
}

#content-split .widget_custom_loop .post_meta {
	font-style: italic;
}

/***************************************************************************************************
	sidebar
***************************************************************************************************/
#sidebar {
}

#sidebar .section {
	margin: 0px 0px 20px 0px;
}

#sidebar .section .head h1 {
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid rgba( 123, 123, 123, 0.7 );
}

#sidebar .section a {
	text-decoration: none;
}

#sidebar .section a:focus,
#sidebar .section a:hover,
#sidebar .section a:active {
	text-decoration: underline;
}

#sidebar .section p {
	line-height: 1.8em;
	padding: 5px 0px 5px 0px;
}

#sidebar .section ol,
#sidebar .section ul {
}

#sidebar .section li {
	margin: 0px 0px 0px 20px;
	padding: 5px 0px 5px 0px;
}

/***************************************************************************************************
	widget: custom_loop
***************************************************************************************************/
#sidebar .widget_custom_loop {
}

#sidebar .widget_custom_loop .posts {
}

#sidebar .widget_custom_loop .post {
	display: inline-block;
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 20px 0px;
}

#sidebar .widget_custom_loop .post_title {
	font-size: 1.4em;
	font-weight: normal;
}

#sidebar .widget_custom_loop .post_entry {
}

#sidebar .widget_custom_loop .post_entry p {
	line-height: 1.8em;
}

#sidebar .widget_custom_loop .post-meta {
	font-style: italic;
}

/***************************************************************************************************
	extras
***************************************************************************************************/
#extras {
}

#extras .section {
	margin: 0px 0px 20px 0px;
}

#extras .section .head h1 {
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	border-bottom: 1px solid rgba( 123, 123, 123, 0.7 );
}

#extras .section a {
	text-decoration: none;
}

#extras .section a:focus,
#extras .section a:hover,
#extras .section a:active {
	text-decoration: underline;
}

#extras .section p {
	line-height: 1.8em;
	padding: 5px 0px 5px 0px;
}

#extras .section ol,
#extras .section ul {
}

#extras .section li {
	margin: 0px 0px 0px 20px;
	padding: 5px 0px 5px 0px;
}

/***************************************************************************************************
	foot
***************************************************************************************************/
#foot {
  margin: 10px 0px 40px 0px;
}

/***************************************************************************************************
	institutional
***************************************************************************************************/
#institutional {
}

#institutional ul,
#institutional ol {
}

#institutional li {
	display: inline-block;
	padding: 0px 10px 10px 0px;
}

/***************************************************************************************************
	copyright
***************************************************************************************************/
#copyright {
}

#copyright p {
	text-align: right;
}