@media only screen and ( min-width: 720px ) and ( max-width: 960px ) {
	/*************************************************************************************************
		classes
	*************************************************************************************************/
	.hide_tablet {
		display: none;
	}

	/***************************************************************************************************
		head
	***************************************************************************************************/
	#head {
	}

	/***************************************************************************************************
		body
	***************************************************************************************************/
	#body {
	}

	/***************************************************************************************************
		section: slideshow
	***************************************************************************************************/
	#content-full .section_slideshow {
	}

	#content-full .section_slideshow .post {
		width: 700px;
		height: 220px;
	}

	#content-full .section_slideshow .post_title {
		font-size: 1.8em;
		bottom: 20px;
		left: 20px;
	}

	/***************************************************************************************************
		footer
	***************************************************************************************************/
	#footer {
	}
}